/* navbar styles */
nav {
  background-color: #3f3939;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Form Container Styles */
.form-container {
  background-color: #eee6e6;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid hsl(0, 17%, 95%);
  border-radius: 10px;
  box-shadow: 10 10 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
}

.form-container input[type="text"],
.form-container select {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.form-container button[type="submit"],
.form-container button[type="button"] {
  display: block;
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
  margin-bottom: 20px;
}

.form-container button[type="button"] {
  background-color: #f44336;
}

.form-error {
  color: red;
  margin-top: 10px;
}

/* Table Container Styles */
.table-container {
  width: 80%;
  margin: 50px auto;
}

.table-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

#user-table {
  width: 100%;
  border-collapse: collapse;
}

#user-table th,
#user-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#user-table th {
  background-color: #f2f2f2;
}

#user-table td:last-child {
  text-align: center;
}

#user-table button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#user-table button.edit {
  background-color: #4CAF50;
  color: #fff;
}

#user-table button.delete {
  background-color: #f44336;
  color: #fff;
}

.edit-btn{
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
.delete-btn {
  border: none;
  background-color: #f44336;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.edit-btn:hover
{
  background-color: #4CAF50;
}
.delete-btn:hover {
  background-color: #d32f2f;
}



